<form [formGroup]="form">
  <div class="formgrid grid">
    <div class="field col-6">
      <label for="dueDate">Due date</label>
      <input
        type="date"
        pInputText
        id="dueDate"
        formControlName="dueDate"
        class="w-full"
        styleClass="w-full"
        inputStyleClass="w-full"
      />
      <error-display
        [displayError]="!isFieldValid('dueDate')"
        [errorData]="getFieldErrors('dueDate')"
      >
      </error-display>
    </div>

    <div class="field col-6">
      <label for="paidDate">Paid date</label>
      <input
        type="date"
        pInputText
        id="paidDate"
        formControlName="paidDate"
        class="w-full"
        styleClass="w-full"
        inputStyleClass="w-full"
      />
      <error-display
        [displayError]="!isFieldValid('paidDate')"
        [errorData]="getFieldErrors('paidDate')"
      >
      </error-display>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col-12">
      <label for="amount">Amount</label>
      <p-inputNumber
        id="amount"
        class="form-control w-full"
        styleClass="w-full"
        formControlName="amount"
        mode="currency"
        currency="PLN"
        locale="pl-PL"
      >
      </p-inputNumber>
      <error-display
        [displayError]="!isFieldValid('amount')"
        [errorData]="getFieldErrors('amount')"
      >
      </error-display>
    </div>
  </div>

  <p-button
    styleClass="p-button-success p-button-raised pt-3 w-full"
    [label]="submitLabel"
    (click)="submit()"
  >
  </p-button>
</form>
