<div class="layout-sidebar">
  <p-card class="sidebar-card">
    <ng-template pTemplate="title">
      <p class="m-0 pt-2 text-3xl text-center">Menu</p>
    </ng-template>
    <dt-side-menu [items]="menuItems" styleClass="h-full"></dt-side-menu>
  </p-card>
</div>
<div class="layout-content">
  <p-card class="layout-card">
    <router-outlet></router-outlet>
  </p-card>
</div>
