.layout-sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 250px;
}

.layout-content {
  margin-left: 250px;
  height: 100vh;
}

.sidebar-card {
  height: 100%;
}

:host ::ng-deep .sidebar-card > .p-card {
  height: 100%;
  margin-right: 8px;
}

:host ::ng-deep .sidebar-card > .p-card > .p-card-body {
  padding-left: 0;
  padding-right: 0;
}

.layout-card {
  height: 100%;
  overflow: auto;
}

:host ::ng-deep .layout-card > .p-card {
  height: 100%;
  overflow: auto;
}

:host ::ng-deep .layout-card > .p-card > .p-card-body {
  height: 100%;
  overflow: auto;
}

:host ::ng-deep .layout-card > .p-card > .p-card-body > .p-card-content {
  height: 100%;
  overflow: auto;
}
