<p-table
  [columns]="columns"
  [value]="data"
  (selectionChange)="onTableSelectionChange($event)"
  [dataKey]="dataKey"
  selectionMode="single"
  styleClass="p-datatable-gridlines"
  [scrollable]="true"
  scrollHeight="400px"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">{{ col.label }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="!selectable">
      <td *ngFor="let col of columns">
        {{ renderField(rowData, col) }}
      </td>
    </tr>
  </ng-template>
</p-table>
