<p-button
  label="Student list"
  styleClass="p-button-link p-0"
  routerLink="/students"
  icon="pi pi-arrow-left"
></p-button>
<h2>{{ studentName }}</h2>

<p-toolbar styleClass="border-none">
  <p-button
    icon="pi pi-plus"
    label="Add accommodation"
    styleClass="p-button-success"
    (click)="showDialog()"
  >
  </p-button>

  <div class="p-toolbar-group-right column-gap-2">
    <p-button
      icon="pi pi-pencil"
      iconPos="right"
      label="Edit student"
      styleClass="p-button-secondary"
      (click)="editStudentOp.toggle($event)"
    >
    </p-button>

    <p-button
      icon="pi pi-trash"
      iconPos="right"
      label="Remove student"
      styleClass="p-button-danger"
      (click)="removeStudent()"
    >
    </p-button>
  </div>
</p-toolbar>

<dt-data-table
  header="Accommodations"
  [columns]="columns"
  [data]="tableData"
  dataKey="id"
  [selectable]="true"
  (selectionChange)="onRowSelection($event)"
>
</dt-data-table>

<p-dialog
  [(visible)]="dialogVisible"
  header="Add accommodation"
  [modal]="true"
  (onHide)="addAccommodationForm.reset()"
>
  <dt-accommodation-form
    (onSubmit)="submitAccommodation($event)"
    submitLabel="Add"
    #addAccommodationForm
  >
  </dt-accommodation-form>
</p-dialog>

<p-overlayPanel #editStudentOp>
  <dt-student-form
    [model]="studentEdit!"
    (onSubmitEvent)="editStudent($event); editStudentOp.hide()"
    submitLabel="Save"
  ></dt-student-form>
</p-overlayPanel>
