<form [formGroup]="form">
  <div class="formgrid grid">
    <div class="field col-6">
      <label for="dateFrom">Date from</label>
      <input
        type="date"
        pInputText
        id="dateFrom"
        formControlName="dateFrom"
        class="w-full"
        styleClass="w-full"
        inputStyleClass="w-full"
      />
      <error-display
        [displayError]="!isFieldValid('dateFrom')"
        [errorData]="getFieldErrors('dateFrom')"
      >
      </error-display>
    </div>

    <div class="field col-6">
      <label for="dateTo">Date to</label>
      <input
        type="date"
        pInputText
        id="dateTo"
        formControlName="dateTo"
        class="w-full"
        styleClass="w-full"
        inputStyleClass="w-full"
      />
      <error-display
        [displayError]="!isFieldValid('dateTo')"
        [errorData]="getFieldErrors('dateTo')"
      >
      </error-display>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col-6">
      <label for="dorm">Dorm id</label>
      <p-dropdown
        [options]="dorms"
        formControlName="dorm"
        optionLabel="name"
        class="w-full"
        styleClass="w-full"
        inputStyleClass="w-full"
        appendTo="body"
        (onShow)="getDropdownDorms()"
      ></p-dropdown>
      <error-display
        [displayError]="!isFieldValid('dorm')"
        [errorData]="getFieldErrors('dorm')"
      >
      </error-display>
    </div>

    <div class="field col-6">
      <label for="room">Room</label>
      <p-dropdown
        [options]="rooms"
        formControlName="room"
        optionLabel="number"
        class="w-full"
        styleClass="w-full"
        inputStyleClass="w-full"
        appendTo="body"
        [disabled]="form.value['dorm'] === null"
        (onShow)="getDropdownRooms()"
      >
      </p-dropdown>
      <error-display
        [displayError]="!isFieldValid('room')"
        [errorData]="getFieldErrors('room')"
      >
      </error-display>
    </div>
  </div>

  <p-button
    styleClass="p-button-success p-button-raised pt-3 w-full"
    [label]="submitLabel"
    (click)="submit()"
  >
  </p-button>
</form>
