<div
  class="flex flex-row flex-wrap column-gap-3"
  *ngIf="students !== null && students.length > 0; else noStudents"
>
  <p-panel
    *ngFor="let student of students"
    [header]="student.firstName + ' ' + student.lastName"
    styleClass="max-w-max"
    [toggleable]="true"
  >
    <p><b>Album number: </b>{{ student.albumNum }}</p>
    <p><b>Telephone number: </b>{{ student.telNum }}</p>
    <p-button
      label="Manage"
      icon="pi pi-user-edit"
      styleClass="p-button-link"
      [routerLink]="'/students/' + student.id + '/accommodations'"
    >
    </p-button>
  </p-panel>
</div>

<ng-template #noStudents>
  <p *ngIf="students !== null; else notSelected" class="text-xl font-bold">
    No students
  </p>
  <ng-template #notSelected>
    <p class="text-xl font-italic">Select a room</p>
  </ng-template>
</ng-template>
