<h2>Students</h2>

<p-button
  label="Add student"
  icon="pi pi-plus"
  styleClass="p-button-success mb-3"
  (click)="showDialog()"
></p-button>

<dt-data-table
  [columns]="columns"
  [data]="students"
  dataKey="id"
  (selectionChange)="onRowSelection($event)"
  [selectable]="true"
>
</dt-data-table>

<p-dialog
  [(visible)]="dialogVisible"
  header="Add student"
  [modal]="true"
  (onHide)="studentAddForm.reset()"
>
  <dt-student-form
    (onSubmitEvent)="onSubmit($event)"
    submitLabel="Add"
    #studentAddForm
  ></dt-student-form>
</p-dialog>
