<p-button label="Dorm list" styleClass="p-button-link p-0" routerLink="/dorms" icon="pi pi-arrow-left"></p-button>
<h2>{{ dormName }}</h2>

<p-toolbar styleClass="border-none">
  <div class="p-toolbar-group-left column-gap-2">
    <p-button icon="pi pi-plus" label="Add room" styleClass="p-button-success" (click)="showDialog()">
    </p-button>

    <p-divider layout="vertical"></p-divider>

    <p-button icon="pi pi-pencil" label="Edit" styleClass="p-button-success p-button-outlined"
      (click)="selectedRoom ? editRoomOp.toggle($event) : editRoomOp.hide()" [disabled]="!selectedRoom">
    </p-button>

    <p-button icon="pi pi-trash" label="Remove" styleClass="p-button-danger" (click)="removeRoom()"
      [disabled]="!selectedRoom">
    </p-button>
  </div>

  <div class="p-toolbar-group-right column-gap-2">
    <p-button icon="pi pi-pencil" iconPos="right" label="Edit dorm" styleClass="p-button-secondary"
      (click)="editDormOp.toggle($event)">
    </p-button>

    <p-button icon="pi pi-trash" iconPos="right" label="Remove dorm" styleClass="p-button-danger"
      (click)="removeDorm()">
    </p-button>
  </div>
</p-toolbar>

<dt-data-table header="Rooms" [columns]="columns" [data]="rooms" dataKey="id" [(selection)]="selectedRoom"
  [selectable]="true" (selectionChange)="onRoomSelection($event)">
</dt-data-table>

<p-card header="Students" class="my-5 mx-1">
  <dt-room-details [students]="getStudentsFromSelection()"></dt-room-details>
</p-card>

<p-dialog [(visible)]="dialogVisible" header="Add room" [modal]="true" (onHide)="addRoomForm.reset()">
  <dt-room-form (onSubmit)="submitRoom($event)" submitLabel="Add" #addRoomForm></dt-room-form>
</p-dialog>

<p-overlayPanel #editDormOp>
  <dt-dorm-form [model]="dormEdit!" (onSubmit)="editDorm($event); editDormOp.hide()" submitLabel="Save">
  </dt-dorm-form>
</p-overlayPanel>

<p-overlayPanel #editRoomOp>
  <dt-room-form [model]="selectedRoom!" (onSubmit)="editRoom($event); editRoomOp.hide()" submitLabel="Save">
  </dt-room-form>
</p-overlayPanel>
