<h2>Dorms</h2>

<p-button
  icon="pi pi-plus"
  label="Add dorm"
  styleClass="p-button-success mb-3"
  (click)="showDialog()"
>
</p-button>

<dt-data-table
  header="Dorms"
  [columns]="columns"
  [data]="dorms"
  dataKey="id"
  (selectionChange)="onRowSelection($event)"
  [selectable]="true"
>
</dt-data-table>

<p-dialog
  [(visible)]="dialogVisible"
  header="Add dorm"
  [modal]="true"
  (onHide)="dormAddForm.reset()"
>
  <dt-dorm-form
    (onSubmit)="onSubmit($event)"
    submitLabel="Add"
    #dormAddForm
  ></dt-dorm-form>
</p-dialog>
