<p-button
  label="Student's accommodation list"
  styleClass="p-button-link p-0"
  [routerLink]="backLink"
  icon="pi pi-arrow-left"
></p-button>
<h2>{{ accommodationName }}</h2>

<p-toolbar styleClass="border-none">
  <div class="p-toolbar-group-left column-gap-2">
    <p-button
      icon="pi pi-plus"
      label="Add charge"
      styleClass="p-button-success"
      (click)="showDialog()"
    >
    </p-button>

    <p-divider layout="vertical"></p-divider>

    <p-button
      icon="pi pi-pencil"
      label="Edit"
      styleClass="p-button-success p-button-outlined"
      (click)="
        selectedCharge ? editChargeOp.toggle($event) : editChargeOp.hide()
      "
      [disabled]="!selectedCharge"
    >
    </p-button>

    <p-button
      icon="pi pi-trash"
      label="Remove"
      styleClass="p-button-danger"
      (click)="removeCharge()"
      [disabled]="!selectedCharge"
    >
    </p-button>
  </div>

  <div class="p-toolbar-group-right column-gap-2">
    <p-button
      icon="pi pi-pencil"
      iconPos="right"
      label="Edit accommodation"
      styleClass="p-button-secondary"
      (click)="editAccommodationOp.toggle($event)"
    >
    </p-button>

    <p-button
      icon="pi pi-trash"
      iconPos="right"
      label="Remove accommodation"
      styleClass="p-button-danger"
      (click)="removeAccommodation()"
    >
    </p-button>
  </div>
</p-toolbar>

<dt-data-table
  header="Charges"
  [columns]="columns"
  [data]="charges"
  dataKey="id"
  [(selection)]="selectedCharge"
  [selectable]="true"
>
</dt-data-table>

<p-dialog
  [(visible)]="dialogVisible"
  header="Add charge"
  [modal]="true"
  (onHide)="addChargeForm.reset()"
>
  <dt-charge-form
    (onSubmit)="submitCharge($event)"
    submitLabel="Add"
    #addChargeForm
  >
  </dt-charge-form>
</p-dialog>

<p-overlayPanel #editAccommodationOp>
  <dt-accommodation-form
    [model]="accommodationEdit!"
    (onSubmit)="editAccommodation($event); editAccommodationOp.hide()"
    submitLabel="Save"
  ></dt-accommodation-form>
</p-overlayPanel>

<p-overlayPanel #editChargeOp>
  <dt-charge-form
    [model]="selectedCharge!"
    (onSubmit)="editCharge($event); editChargeOp.hide()"
    submitLabel="Save"
  ></dt-charge-form>
</p-overlayPanel>
