<form [formGroup]="form">
  <div class="form-group" [ngClass]="applyValidationStyle('firstName')">
    <div class="field">
      <label for="firstName" class="control-label required">First name</label>
      <input type="text" id="firstName" class="form-control w-full" pInputText formControlName="firstName" />
      <error-display [displayError]="!isFieldValid('firstName')" [errorData]="getFieldErrors('firstName')">
      </error-display>
    </div>
  </div>

  <div class="form-group" [ngClass]="applyValidationStyle('lastName')">
    <div class="field">
      <label for="lastName" class="control-label required">Last name</label>
      <input type="text" id="lastName" class="form-control w-full" pInputText formControlName="lastName" />
      <error-display [displayError]="!isFieldValid('lastName')" [errorData]="getFieldErrors('lastName')">
      </error-display>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="form-group col" [ngClass]="applyValidationStyle('albumNum')">
      <div class="field">
        <label for="albumNum" class="control-label required">Album number</label>
        <input type="Text" pInputText id="albumNum" class="form-control w-full" styleClass="w-full" [maxlength]="6"
          formControlName="albumNum" pKeyFilter="pint" />
        <error-display [displayError]="!isFieldValid('albumNum')" [errorData]="getFieldErrors('albumNum')">
        </error-display>
      </div>
    </div>
    <div class="form-group col" [ngClass]="applyValidationStyle('telNum')">
      <div class="field">
        <label for="telNum" class="control-label required">Telephone number</label>
        <input type="text" pInputText id="telNum" class="form-control w-full" styleClass="w-full" [maxlength]="9"
          formControlName="telNum" pKeyFilter="pint">
        <error-display [displayError]="!isFieldValid('telNum')" [errorData]="getFieldErrors('telNum')">
        </error-display>
      </div>
    </div>
  </div>

  <button pButton (click)="onSubmit()" class="p-button-success p-button-raised pt-3 w-full"
    [label]="submitLabel"></button>
</form>
