<form [formGroup]="form">
  <div class="formgrid grid">
    <div class="field col-6">
      <label for="number">Number</label>
      <p-inputNumber id="number" formControlName="number" class="w-full" styleClass="w-full" inputStyleClass="w-full"
        [min]="1" [max]="999" [formControlName]="fieldNames.number">
      </p-inputNumber>
      <error-display [displayError]="!isFieldValid(fieldNames.number)" [errorData]="getFieldErrors(fieldNames.number)">
      </error-display>
    </div>

    <div class="field col-6">
      <label for="floor">Floor</label>
      <p-inputNumber id="floor" formControlName="floor" class="w-full" styleClass="w-full" inputStyleClass="w-full"
        [max]="0" [max]="99" [formControlName]="fieldNames.floor">
      </p-inputNumber>
      <error-display [displayError]="!isFieldValid(fieldNames.floor)" [errorData]="getFieldErrors(fieldNames.floor)">
      </error-display>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col-6">
      <label for="capacity">Max capacity</label>
      <p-inputNumber id="capacity" formControlName="capacity" class="w-full" styleClass="w-full"
        inputStyleClass="w-full" [min]="1" [max]="9" [formControlName]="fieldNames.capacity">
      </p-inputNumber>
      <error-display [displayError]="!isFieldValid(fieldNames.capacity)"
        [errorData]="getFieldErrors(fieldNames.capacity)">
      </error-display>
    </div>

    <div class="field col-6">
      <label for="area">Area</label>
      <p-inputNumber id="area" formControlName="area" class="w-full" styleClass="w-full" inputStyleClass="w-full"
        [min]="0" [max]="99" [formControlName]="fieldNames.area">
      </p-inputNumber>
      <error-display [displayError]="!isFieldValid(fieldNames.area)" [errorData]="getFieldErrors(fieldNames.area)">
      </error-display>
    </div>
  </div>

  <p-button styleClass="p-button-success p-button-raised pt-3 w-full" [label]="submitLabel" (click)="submit()">
  </p-button>
</form>
