<div *ngIf="displayError && errorData?.errors">
  <span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span>
  <div *ngFor="let error of errorData?.errors | keyvalue" class="error-msg">
    <p *ngIf="error.value">{{ getErrorMessage(error.key) }}</p>
  </div>
</div>
