<div [class]="styleClass">
  <div class="flex flex-column row-gap-1">
    <p-button *ngFor="let item of items" [icon]="item.icon!" iconPos="top" [disabled]="item.disabled!"
      [label]="item.label!" styleClass="p-button-text w-full p-button-lg" [routerLink]="item.routerLink!"></p-button>
  </div>
</div>
