<form [formGroup]="form">
  <div class="form-group" [ngClass]="applyValidationStyle('name')">
    <div class="field">
      <label for="name" class="control-label required">Name</label>
      <input type="text" id="name" class="form-control" class="w-full" formControlName="name" pInputText />
      <error-display [displayError]="!isFieldValid('name')" [errorData]="getFieldErrors('name')">
      </error-display>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="form-group col-7" [ngClass]="applyValidationStyle('street')">
      <div class="field">
        <label for="street" class="control-label required">Street</label>
        <input type="text" id="street" class="form-control w-full" formControlName="street" pInputText />
        <error-display [displayError]="!isFieldValid('street')" [errorData]="getFieldErrors('street')">
        </error-display>
      </div>
    </div>
    <div class="form-group col" [ngClass]="applyValidationStyle('buildingNum')">
      <div class="field">
        <label for="buildingNum" class="control-label required">Building number</label>
        <p-inputNumber id="buildingNum" class="form-control w-full" styleClass="w-full" formControlName="buildingNum"
          [useGrouping]="false">
        </p-inputNumber>
        <error-display [displayError]="!isFieldValid('buildingNum')" [errorData]="getFieldErrors('buildingNum')">
        </error-display>
      </div>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="form-group col-7" [ngClass]="applyValidationStyle('city')">
      <div class="field">
        <label for="city" class="control-label required">City</label>
        <input type="text" id="city" class="form-control" class="w-full" formControlName="city" pInputText />
        <error-display [displayError]="!isFieldValid('city')" [errorData]="getFieldErrors('city')">
        </error-display>
      </div>
    </div>

    <div class="form-group col" [ngClass]="applyValidationStyle('postalCode')">
      <div class="field">
        <label for="postalCode" class="control-label required">Postal code</label>
        <p-inputMask id="postalCode" class="form-control w-full" formControlName="postalCode" styleClass="w-full"
          mask="99-999">
        </p-inputMask>
        <error-display [displayError]="!isFieldValid('postalCode')" [errorData]="getFieldErrors('postalCode')">
        </error-display>
      </div>
    </div>
  </div>

  <button pButton class="p-button-success p-button-raised pt-3 w-full" [label]="submitLabel"
    (click)="submit()"></button>
</form>
